#### SQL and SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3 # comes default with python3

In [2]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
# cusor to iterate the database
cursor = connection.cursor()

In [4]:
# Create a table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text)
''')

## Commit the changes
connection.commit()

In [5]:
cursor.execute('''
Select * from employees
''')

In [6]:
## Insert the data in sqlite table
cursor.execute('''
Insert into employees(name, age, department)
               values('Prasanna', 23, 'Data Science'),
               ('Pranathi', 21, 'Artificial Intelligence'),
               ('Prasanth', 22, 'Management'),
               ('Shiva', 24, 'Information Science')
''')
# commit the changes
connection.commit()

In [9]:
## Query the data from the table
cursor.execute('''
Select * from employees
''')
rows = cursor.fetchall()

# Print the query data
for row in rows:
    print(row)

(1, 'Prasanna', 23, 'Data Science')
(2, 'Pranathi', 21, 'Artificial Intelligence')
(3, 'Prasanth', 22, 'Management')
(4, 'Shiva', 23, 'Information Science')

In [8]:
## Update the data in the table
cursor.execute('''
UPDATE employees
set age=23
where name='Shiva'
''')

In [13]:
## def - Query the data from the table
def select():
    cursor.execute('''
    Select * from employees
    ''')
    rows = cursor.fetchall()

    # Print the query data
    for row in rows:
        print(row)

In [14]:
select()

(1, 'Prasanna', 23, 'Data Science')
(3, 'Prasanth', 22, 'Management')
(4, 'Shiva', 23, 'Information Science')

In [12]:
## delete the data from the table
cursor.execute('''
Delete from employees
Where name = "Pranathi"''')

connection.commit()

In [15]:
select()

(1, 'Prasanna', 23, 'Data Science')
(3, 'Prasanth', 22, 'Management')
(4, 'Shiva', 23, 'Information Science')

In [16]:
## Working with Sales Data

# Connecting to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT)
''')

# data
sales_date = [
    ('2025-01-01', 'Product1', 100, 'North'),
    ('2025-01-02', 'Product2', 200, 'South'),
    ('2025-01-03', 'Product3', 200, 'East'),
    ('2025-01-04', 'Product4', 150, 'North'),
    ('2025-01-05', 'Product5', 300, 'West'),
    ('2025-01-07', 'Product6', 350, 'South')
]
# Inserting data into sales table
cursor.executemany('''
INSERT INTO sales(date, product, sales, region)
values(?, ?, ?, ?)
''', sales_date)

connection.commit()

In [19]:
cursor.execute('''
SELECT * FROM sales''')

rows = cursor.fetchall()

for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.

In [18]:
## Close the connection
connection.close()